/* -----------------------------------
** MIXINS & VARIABLE
** ----------------------------------- */
/* -----------------------------------
** GENERAL
** ----------------------------------- */
body {
  color: #656565;
}
/* -----------------------------------
** HEADER
** ----------------------------------- */
.header {
  background: #0576ac;
}
/* -----------------------------------
** CONTENT
** ----------------------------------- */
.main-content {
  padding: 30px 0px;
}
.main-content p {
  margin-bottom: 20px;
}
/* -----------------------------------
** FOOTER
** ----------------------------------- */
.footer {
  background: #009bd6;
}
